.resposta {
    display: flex;
    justify-content: space-between;
}

.vermelho{
    /* background-color: red; */
    background: linear-gradient(#fc3f60 0%, #dd251a 33.33%, #b32e3c 66.67%, #fc3f60 100%);
    margin-bottom: 40px;
    border: 2px solid #000;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    margin-right: 20px;
}
.laranja{
    background-color: orange;
    margin-bottom: 40px;
    border: 2px solid #000;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    margin-right: 20px;
}

.verde{
    background-color:green;
    margin-bottom: 40px;
    border: 2px solid #000;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    margin-right: 20px;

}